.header{
background-color:#B7D1DA;
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
height: 80px;
}
.hcolor{
text-align: center;
color: white;
font-size: 3rem;
font-family:Indie Flower;
font-weight: bold;

}
.btsize{
    width:20%;
    height: 20%;
}
.container-fluid {
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}
.nav {
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
padding-left: 0;
margin-bottom: 0;
list-style: none;
}
.nav-link {
display: block;
padding: .5rem 1rem;
color: #75704E;
font-size: 30px;
font-family: "setofont";
font-weight: bold;
}
.nav-fill .nav-item {
-ms-flex: 1 1 auto;
flex: 1 1 auto;
text-align: center;
margin: 7px;
font-size:20px;

}

.bg{
background-color: #E2E8DD;
height: 60px;

}
.slider_container {
margin: 30px auto;
width:1420px;
height: 780px;
opacity: 0.7; //透明度
filter: alpha(opacity=50);
position: relative;
border: 20px solid;
border-color: #fff;
border-bottom-width: 20px;
background-color: #f5f5f5;
box-shadow: #666 0 0 5px;
}
.slider_container div {
position: absolute;
top: 0;
left: 0;
opacity: 0;
filter: alpha(opacity=0);
}
.slider_container div {
-webkit-animation: round 25s linear infinite;
animation: round 25s linear infinite;
}
@-webkit-keyframes round {
4% {
opacity: 1;
filter: alpha(opacity=100);
/* 0 - 1秒 淡入*/
}
20% {
opacity: 1;
filter: alpha(opacity=100);
/* 1- 5秒靜止*/
}
24% {
opacity: 0;
filter: alpha(opacity=0);
/* 5-6秒淡出*/
}
}
@keyframes round {
4% {
opacity: 1;
filter: alpha(opacity=100);
/* 0 - 1秒 淡入*/
}
20% {
opacity: 1;
filter: alpha(opacity=100);
/* 1- 5秒靜止*/
}
24% {
opacity: 0;
filter: alpha(opacity=0);
/* 5-6秒淡出*/
}
}
.slider_container div:nth-child(5) {
-webkit-animation-delay: 0s;
animation-delay: 0s;
}
.slider_container div:nth-child(4) {
-webkit-animation-delay: 5s;
animation-delay: 5s;
}
.slider_container div:nth-child(3) {
-webkit-animation-delay: 10s;
animation-delay: 10s;
}
.slider_container div:nth-child(2) {
-webkit-animation-delay: 15s;
animation-delay: 15s;
}
.slider_container div:nth-child(1) {
-webkit-animation-delay: 20s;
animation-delay: 20s;
}


footer{
    padding: 10px;
    text-align: center;
     background-color: #B7D1DA;
    font-family: "微軟正黑體"
}

.word2{
    text-align: center;
    font-family: setofont;
    font-weight: bold;
   position: absolute;
    font-size: 60px;
    top:35%;
    left: 35%;
    color:black;
}
.bt{
    font-size: 35px;
    font-family:"微軟正黑體";
    font-weight: bold;
    color:black;
    background-color: yellow;

}
.index-img{
    position: relative;
}

.pic6{
    width:100px;0px;
    height:100px;
}

